# Visual Studio / .NET
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
*/bin/
*/obj/
**/bin/
**/obj/

# Rider
.idea/
*.sln.iml

# NuGet
*.nupkg
packages/
.project.lock.json
project.lock.json

# OS generated
Thumbs.db
.DS_Store

# dotnet tool
.nuget/
